* {
	margin: 0px; padding: 0px;
	box-sizing: border-box;
}
body {
	padding: 2px;
	height: 100vh;
	font-size: 1.2em;
}
.grid {
	border: 1px solid gray;
	padding: 2px;
	margin: 0px;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 200px 1fr 1fr;
}
.grid > div {
	border: 1px solid gray;
	margin: 2px;
}








/*  */
